@media (max-width: 991px)
    .promo
        &__wrapper 
            align-items: center
        &__header
            font-size: 32px
        &__subheader
            font-size: 18px
        header
            justify-content: space-evenly
    .consultation
        .container
            padding: 0 10%
        &__descr
            font-size: 16px
            text-align: center
    .title
        text-align: center
        font-size: 26px
    .feed-form
        align-items: center
        width: 100%
    .button_submit
        width: 210px
        font-size: 14px
    .benefits__block
        justify-content: space-evenly
    .catalog__content
        justify-content: space-evenly
    .reviews__list
        padding-right: 2rem
    .footer__info
        padding: 35px 38px 45px 38px
        width: 360px

    .carousel
        &__inner
            width: 70%
            img
                width: 100%
@media (max-width: 768px)
    .header__official
        display: none
    .title
        font-size: 20px
    .benefits
        &__block
            flex-direction: column
            padding: 0 2rem
            margin-top: 2rem
        &__blocks
            margin-right: 0
            margin-bottom: 20px
        &__text
            max-width: 100%
            justify-content: center
        &__subheader
            margin-top: 20px
            font-size: 14px
        .title
            font-size: 20px
    .catalog__tab
        width: 100%
        max-width: 150px
        font-size: 14px
    .reviews
        margin: 0 5%
        &__block
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        &__photo
            margin-bottom: 15px
        &__wrapper
            margin: 0 auto
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
        &__descr
            text-align: center
            font-size: 14px

@media (max-width:576px)
    .header
        &__contacts
            display: none
        &__official
            display: none
    .promo
        &__header
            font-size: 30px
            text-align: center
        &__subheader
            text-align: center
        &__icons
            width: 290px
        &__link
            font-size: 12px
    .button
        &_main
            width: auto
            font-size: 12px
    .catalog__tabs
        flex-direction: column
        
    .catalog__tab
        margin-bottom: 5%
    .modal
        width: auto
        &__close
            right: 0
    .footer__info
        width: 100%