@media (max-width: 991px)
    .promo
        &__wrapper 
            align-items: center
        &__header
            font-size: 32px
        &__subheader
            font-size: 18px
        header
            justify-content: space-evenly
    .consultation
        .container
            padding: 0 10%
        &__descr
            font-size: 16px
            text-align: center
    .title
        text-align: center
        font-size: 26px
    .feed-form
        align-items: center
        width: 100%
    .button_submit
        width: 210px
        font-size: 14px
    .benefits__block
        justify-content: space-evenly
    .catalog__content
        justify-content: space-evenly
    .reviews__list
        padding-right: 2rem
    .footer__info
        padding: 35px 38px 45px 38px
        width: 360px
@media (max-width: 768px)
    .header__official
        display: none
    .title
        font-size: 20px
    .benefits
        &__block
            flex-direction: column
            padding: 0 2rem
            margin-top: 2rem
        &__blocks
            margin-right: 0
            margin-bottom: 20px
        &__text
            max-width: 100%
            justify-content: center
        &__subheader
            margin-top: 20px
            font-size: 14px
        .title
            font-size: 20px
    .catalog__tab
        width: 100%
        max-width: 150px
        font-size: 14px
    .reviews__descr
        font-size: 14px