.reviews
    padding-bottom: 48px
    &__block
        display: flex
        flex-direction: row
    &__block
        margin: 60px 0
    &__wrapper
        margin-left: 60px
    &__subtitle
        font-weight: 500
        font-size: 14px
        color: #646464
    &__title
        font-weight: 700
        font-size: 18px
        color: #0D0D0D
        margin-bottom: 0
    &__descr
        margin-top: 10px
        font-weight: 300
        font-size: 16px
        color: #0D0D0D




